{% extends "base.html" %}

{% block content %}

<h2>Reset Password User</h2>

<p>
    Reset password untuk user:
    <strong>{{ user.username }}</strong>
</p>

<form method="post">
    {% csrf_token %}

    <div>
        <label>Password Baru</label>
        <input
            type="password"
            name="new_password"
            required
        >
    </div>

    <br>

    <div>
        <label>Konfirmasi Password Baru</label>
        <input
            type="password"
            name="confirm_password"
            required
        >
    </div>

    <br>

    <button type="submit">
        Reset Password
    </button>

    <a href="/users/{{ user.id }}/">
        Batal
    </a>
</form>

{% endblock %}