[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "==3.1.5"
reportlab = "==4.4.3"
django = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.13"
